@import '../../default.less';

@recommend-height: 554px;
@recommend-item-size: 276px;
@recommend-item-height: 257px;
@recommend-item-title-height: 50px;
@slogan-font-szie: 20px;
@remark-font-szie: 16px;
@img-margin: 1px;
@big-img-size: @recommend-item-height - @recommend-item-title-height;
@smart-img-size: @recommend-item-size * 0.25;

.recommends{
  .web-model-default(@recommend-height,rgba(white,0),@font-default-color,20px);
}