@import '../../default.less';

@cup-height: 180px;
.b-cup
{
  width: 100%;
  height: @cup-height;
  background: white;
  padding: 25px 0;
  box-sizing: border-box;
}

.top{
  .center;
  width: @web-width;
  height: 130px;
  box-sizing: border-box;
  padding:40px 0;
  text-align: center;
}