@web-width: 1242px;
@width-600: 600px;
@web-model-margin: 10px;
@web-model-padding: 10px;
@web-theme-color:#CBB993;
@font-default-color:#666666;
@price-color: #ff5900;
@Block-width: 616px;
@box-head-height: 55px;
@box-head-font: 20px;
@title-color:#333333;
@999-color:#999999;
@border-color:#eeeeee;
@floor-plan-hd-color:#28ABFF;
@bg-alpha-color:#cccccc;
@hotsell-hd-color:#FF2951;
@likesell-hd-color: #FF7700;
@line-box-margin:20px;
@item-width:238px;
@item-height:342px;
@item-left-margin:13px;
@item-pic-height:188px;
@item-pic-width:218px;

.center(@top-margin: 0){
    margin: @top-margin auto;
}

.float-left{
    float: left;
}

.ul-none{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.box-default(@width: @Block-width,@height: 100px,@bgcolor: white)
{
    width: @width;
    height: @height;
    background-color: @bgcolor;
    box-sizing: border-box;
    .float-left;
}

.web-model-default(@web-height:100px,@bg-color:white,@font-color: @font-default-color,@top-margin: 0)
{
    .center(@top-margin);
    width: @web-width;
    height: @web-height;
    background-color: @bg-color;
    color:@font-color;
}

.color-gradient(@startcolor,@endcolor){
    background: @endcolor;
    background: -moz-linear-gradient(left, @startcolor 0%,  @endcolor 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, @startcolor), color-stop(100%, @endcolor));
    background: -webkit-linear-gradient(left, @startcolor 0%, @endcolor 100%);
    background: -o-linear-gradient(left, @startcolor 0%, @endcolor 100%);
    background: -ms-linear-gradient(left, @startcolor 0%,  @endcolor 100%);
    background: linear-gradient(to right, @startcolor 0%, @endcolor 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@startcolor, endColorstr=@endcolor, GradientType=1 );
}
.home-item{
    width: @web-width;
}

.a-default(@a-color: @font-default-color)
{
    text-decoration: none;
    color: @a-color;
}

.a-default-hover(@a-h-color: @font-default-color)
{
    text-decoration: underline;
    color: @a-h-color;
}

.default-box-head(@box-height: @box-head-height,@font-color:@web-theme-color,@font-size: @box-head-font){
    > h2{
      line-height: @box-height;
      font-size: @font-size;
      font-weight: 500;
      text-indent: 3mm;
      display: block;
      width: 140px;
      height: @box-height;
      float: left;
      margin: 0;
      color: @font-color;
    }
    > a{
      .a-default(@font-color;);
      float: right;
      margin: 10px;
    }
    > a:hover{
      .a-default-hover(@font-color);
    }
  }

.price(@width:30px,@height:30px)
{
  width: @width;
  height: @height;
  line-height: @height;
  > strong{
    float: right;
    text-align: right;
    color: @price-color;
    margin-right: 15px;
  }
}

.title{
    font-size: 18px;
    color: @title-color;
}