@web-width: 1242px;
@width-600: 600px;
@web-model-margin: 10px;
@web-theme-color:#CBB993;
@font-default-color:#666666;
@price-color: #ff5900;
@Block-width: 616px;
@box-head-height: 55px;
@box-head-font: 20px;

.center(@top-margin: 0){
    margin: @top-margin auto;
}

.float-left{
    float: left;
}

.ul-none{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.box-default(@width: @Block-width,@height: 100px,@bgcolor: white)
{
    width: @width;
    height: @height;
    background-color: @bgcolor;
    .float-left;
}

.web-model-default(@web-height:100px,@bg-color:white,@font-color: @font-default-color,@top-margin: 0)
{
    .center(@top-margin);
    width: @web-width;
    height: @web-height;
    background-color: @bg-color;
    color:@font-color;
}

.color-gradient(@startcolor,@endcolor){
    background: @endcolor;
    background: -moz-linear-gradient(left, @startcolor 0%,  @endcolor 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, @startcolor), color-stop(100%, @endcolor));
    background: -webkit-linear-gradient(left, @startcolor 0%, @endcolor 100%);
    background: -o-linear-gradient(left, @startcolor 0%, @endcolor 100%);
    background: -ms-linear-gradient(left, @startcolor 0%,  @endcolor 100%);
    background: linear-gradient(to right, @startcolor 0%, @endcolor 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@startcolor, endColorstr=@endcolor, GradientType=1 );
}
.home-item{
    width: @web-width;
}

.a-default(@a-color: @font-default-color)
{
    text-decoration: none;
    color: @a-color;
}

.a-default-hover(@a-h-color: @font-default-color)
{
    text-decoration: underline;
    color: @a-h-color;
}